// breakpoints
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

:root {
	--font-family: Poppins, -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, Ubuntu,
		roboto, noto, segoe ui, arial, sans-serif;
	--font-family-mono: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
	--font-size-small: 12px;

	--primary-color: #006634;
	--secondary-color: #33658a;
	--tertiary-color: #faf7f2;

	--input-focus-border: #83aaac;
}
