// breakpoints
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

:root {
	--font-family: Poppins, -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, Ubuntu,
		roboto, noto, segoe ui, arial, sans-serif;
	--font-family-mono: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
	--font-size-small: 12px;

	--primary-color: #006634;
	--header-bg: #006634;

	--home-link-color: #faf7f2;
	--home-link-hover-color: var(--primary-color);

	--button-color: #faf7f2;
	--button-alternate-color: #006634;

	--post-link-color: #faf7f2;

	--nav-link-hover-bg: #111;
	--text-color-meta: ##faf7f2;

	--label-text: ##faf7f2;
	--input-focus-border: #83aaac;
}
